*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
.main-section{
background-color:lightgrey;
width:90vw;
height:auto;
text-align:center;
margin:auto;
margin-top:10vh;
box-shadow: 2px 2px 8px black;
}
.header h1{
padding: .5rem;
color:white;
contenteditable:true;
}
.button{
background-color:lightgreen;
color:white;
border: 1px solid white;
height:5vh;
width:10vw;
border-radius:5% 25%;
display:flex;
align-items:center;
justify-content:center;
margin:.5rem 0 .5rem 80%;

}
.task-body{
background-color:skyblue;
color:white;
margin:2rem 0;
width:auto;
}
.task-body{
display:flex;
justify-content:space-between;
align-items:center;
min-height:5rem;
}
.body-text{
width:60%;
}
.task-text{
padding:1rem;
}
.allbuttons{
width:10%
}
.complete{
border:1px solid white;
padding:.5rem;
border-radius: 8%;
transition: .3s ease-in-out;
}
.complete:hover{
background-color:lightgrey;
}
.edit{
border:1px solid white;
padding:.5rem;
border-radius: 8%;
transition: .3s ease-in-out;
}
.edit:hover{
background-color:lightgrey;
}
.delete{
border:1px solid white;
padding:.5rem;
border-radius: 8%;
color:red;
margin-right:.5rem;
transition: .3s ease-in-out;
}
.delete:hover{
background-color:lightgrey;
}

/* main body */
.contenteditable{
contenteditable:
}